<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <nav class="navbar" style="background-color: lightblue; position: sticky;">
      <a href="index.html"  class="nav-brand text-dark nav-link mx-2">TEXAS PIZZAS</a>
      <ul class="nav">

      <li><a routerLink="/home" class="nav-link">Home</a></li>   
      <li><a routerLink="/menu" class="nav-link">Pizzas</a></li>
      <li><a routerLink="/login" class="nav-link">Login</a></li>
      <li><a routerLink="/register" class="nav-link">Register</a></li>
      <li><a routerLink="/cart" class="nav-link">Cart</a></li>
      <li><a routerLink="/contactus" class="nav-link">Contact Us</a></li>
      <li><a routerLink="/logout" class="nav-link">Logout</a></li>

      </ul>
    </nav>
      
  </body>

</html>
  <router-outlet></router-outlet>
 

