
<div class="mt-5" style="margin-left: 650px;">
    <fieldset style="background-color: white; width: 620px; height: 750px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px; opacity: 0.9;"> <br>
       <h3 style="text-align: center; color: green;"> Register</h3> <br>
       <form #regForm="ngForm" (ngSubmit)="register()">
        <div>
            <label style="margin-left: 40px;">
               <b> Full Name </b>
            </label>
            <input type="text" required pattern="[a-z A-z]+" [(ngModel)]="user.fullName" name="fname" class="form-control"
            style="width: 500px; margin-left: 40px;"/> <br>

            <label style="margin-left: 40px;">
                <b> Email</b>
            </label>
            <input type="email" required pattern="[email]" [(ngModel)]="user.email" name="email" class="form-control"
            style="width: 500px; margin-left: 40px;"/> <br>

            <label style="margin-left: 40px;">
                <b> Password</b>
            </label>
            <input type="password" required pattern="[a-z 0-9]+" [(ngModel)]="user.password" name="password" class="form-control"
            style="width: 500px; margin-left: 40px;"/> <br>

            <label style="margin-left: 40px;">
                <b> Confirm Password</b>
            </label>
            <input type="password" required pattern="[a-z 0-9]+" [(ngModel)]="user.confirmPassword" name="confirmPassword" class="form form-control"
            style="width: 500px; margin-left: 40px;"/> <br>

            <label style="margin-left: 40px;">
                <b> Gender</b>
            </label> <br>
            <div class="radio-group">
            <input type="radio" style="margin-left: 40px;" name="gender" [(ngModel)]="user.gender" value="Male" required/>Male <br>
            <input type="radio" style="margin-left: 40px;" name="gender" [(ngModel)]="user.gender" value="Female" required/>Female <br> <br>
            </div>
 
            <label style="margin-left: 40px;">
                <b>Country </b>
            </label> <br>
            <select class="form-control" [(ngModel)]="user.country" name="country" required style="margin-left: 40px;width: 500px;">
                <option value=""> </option>
                <option>India</option>
                <option>America</option>
                <option>Australia</option>
                <option>Canada</option>
            </select>
        </div> <br>
        <button type="submit" class="btn btn-outline-success" style="margin-left: 100px;">Register</button>  
        <button class="btn btn-outline-success" [routerLink]="['/login']" style="margin-left: 180px;">Login</button>
       </form> <br>
       <div> 
       
       </div>
       <span style="margin-left: 330px;">Already registered </span>
   
    </fieldset>
</div>
